#container {
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 98vh;
  }

#backgroundImage{
    width:100%;
    height:100%;
}

#blackBackground{
  
  position: absolute;
    left: 500px;
    top: 1200px;
    z-index: 2;

  width: 800px;
  height: 550px;
  background:black;
  transform: perspective(10px) rotateX(1deg);
  margin: 50px;

  border-radius: 20px;
}
