:root{
  --qSectionSize: 68px;
}


#container {
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 98vh;
  }

#backgroundImage{
    width:100%;
    height:100%;
}

#blackBackground{
  
  position: absolute;
    left: 500px;
    top: 1200px;
    z-index: 2;

  width: 800px;
  height: 550px;
  background:black;
  transform: perspective(10px) rotateX(1deg);
  margin: 50px;

  border-radius: 20px;
}

#section1{
  z-index: 3;
  height: var(--qSectionSize);
  width: auto;
  background-color: turquoise;
  margin: 10px;

  border-radius: 20px;
}

#section2{
  z-index: 3;
  height: var(--qSectionSize);
  width: auto;
  background-color: turquoise;
  margin: 10px;

  border-radius: 20px;
}

#section3{
  z-index: 3;
  height: var(--qSectionSize);
  width: auto;
  background-color: turquoise;
  margin: 10px;

  border-radius: 20px;
}

#section4{
  z-index: 3;
  height: var(--qSectionSize);
  width: auto;
  background-color: turquoise;
  margin: 10px;

  border-radius: 20px;
}

#section5{
  z-index: 3;
  height: var(--qSectionSize);
  width: auto;
  background-color: turquoise;
  margin: 10px;

  border-radius: 20px;
}

#section6{
  z-index: 3;
  height: var(--qSectionSize);
  width: auto;
  background-color: turquoise;
  margin: 10px;

  border-radius: 20px;
}

#section7{
  z-index: 3;
  height: var(--qSectionSize);
  width: auto;
  background-color: turquoise;
  margin: 10px;

  border-radius: 20px;
}