*{
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

.logo{
  color: #0a0aafd7;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  padding-right: 20px;
  position: relative;
  left: 500px;
}

nav{
  background-color: white;
  border-top: solid 5px #0a0aafd7;
  display: flex;
  align-items: center;
  position: fixed;
  left:0;
  top:0;
}

  .nav-item{
    font-family: 'Nunito', sans-serif;
    list-style-type: none;
    padding: 15px;
    font-weight:bold;
    position: relative;
    left: 550px;
  }