*{
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

.logo{
  color: #0a0aafd7;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  padding-right: 20px;
  position: relative;
  left: 500px;
}

.nav-bar{
  background-color: white;
  width: 100%;

  border-top: solid 5px #0a0aafd7;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

  .nav-item{
    font-family: 'Nunito', sans-serif;
    list-style-type: none;
    padding: 20px;
    font-weight:bold;
    position: relative;
    left: 550px;
  }

.main-container{
  width:100%;
  height: 100px;
}
