@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap");


/*
--Syntax

border:  style thickness color
border-right-color: color

margin or padding: top right bottom left
margin or padding: top/bottom right/left


--Overlap
by default, element is inline padding and margin
do not push the element away from other elements

Fix this by:
display: block;
  takes a new line and space available

display: inline-block;
  element does not move to a new line, padding 
  and margin applied

--Collapse:
display: block;
width: fit-content;
  top and bottom margins collapse only
  but takes bigger value when elements collapse

margin: auto
  expands as much as it can

margin-left: auto;
margin-right: auto;
  maximises margin either side and places item 
  in the center

  centering an item in a div container.
  give the item margin: auto
  give the container display: flex;

--Setting Width:
  set as width: 120px; is only content and doesnt
  include padding, border and margin
box-sizing: border-box;
  resolves this



*/

* {
  font-family: "Montserrat", sans-serif;
}


a {
  display:inline-block;

  text-decoration: none;
  color: #078080;
  background-color: #fef6e4;

  border: solid 4px;
  padding: 12px 8px;

}

