*{
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;

    color: #333;
}

#container{
    max-width: 1200px;
    padding: 24px;
}

p{
    max-width: 600px;
}

header{
    display: flex;
    align-items: center;
}

.navigation{
    flex-grow: 1;
    margin-left: 40px;

}
.navigation--item{
    text-decoration: none;
    color: #bdbdbd;
    margin-left: 24px;
}

.navigation--button{
    
}