*{
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;

    color: #333;
}

#container{
    max-width: 1200px;
    padding: 24px;
}

p{
    max-width: 600px;
}

header{
    display: flex;
    align-items: center;
}

.navigation{
    flex-grow: 1;
    margin-left: 40px;

}
.navigation--item{
    text-decoration: none;
    color: #bdbdbd;
    margin-left: 24px;
}

.navigation--button{
    border: none;
    background: linear-gradient(270deg, #FAA245 0%, #DB328A 37.25%, #753872 100%);
    padding: 10px 36px;
    border-radius: 50px;
    color: white;
}

main{
    display: flex;
}

.main--content{
    flex: 1;
}

.main--img{
    flex: 1;
}