#desktop1
{
  background: black;
}

#topcorner
{
  position: absolute;
  width: 175px;
  height: 172px;
  background: #CC99CC;
  left: 0px;
  top: 0px;


}

#todayItems
{
  position: absolute;
  width: 217px;
  height: 61px;
  left: 250px;
  top: 43px;

  background: #9999FF;
  border-radius: 33px;
}

#itemsList{
  position: absolute;
  width: 217px;
  height: 61px;
  left: 250px;
  top: 115px;

  background: #9999FF;
  border-radius: 33px;
}

#recurringList
{
  position: absolute;
  width: 217px;
  height: 61px;
  left: 250px;
  top: 186px;
  z-index: 1;

  background: #9999FF;
  border-radius: 33px;
}

#addItem{
  position: absolute;
  width: 224px;
  height: 60px;
  left: 477px;
  top: 118px;
  z-index: 1;

  background: #FF9966;
  border-radius: 33px;
}

#addRecurringItem{
  position: absolute;
  width: 224px;
  height: 60px;
  left: 477px;
  top: 186px;
  z-index: 1;

  background: #FF9966;
  border-radius: 33px;
}

#leftCorner{
  position: absolute;
  width: 615px;
  height: 165px;
  left: 0px;
  top: 181px;
  z-index: 0;

  background: #9999FF;
  border-radius: 0px 0px 0px 100px;
}

#blackout{
  
  position: absolute;
  left: 175px;
  top: 181px;
  z-index: 0;

  background: #020202;
  border-radius: 0px 0px 0px 50px;  
  height: 145px;
  width: 450px;
  border-radius: 0px 0px 0px 50px;
  
}

#bottomEdge1{
  position: absolute;
  width: 39px;
  height: 21px;
  left: 623px;
  top: 325px;

  background: #FF9900;
}

#bottomEdge2{
  position: absolute;
  width: 205px;
  height: 22px;
  left: 670px;
  top: 325px;
  
  background: #CC99CC;
}

#bottomEdge3{
  position: absolute;
  width: 456px;
  height: 23px;
  left: 883px;
  top: 325px;
  
  background: #CC99CC;
}

#bottomEdge4{
  position: absolute;
  width: 39px;
  height: 21px;
  left: 623px;
  top: 358px;
  
  background: #FFCC99;
}

#bottomEdge5{
  position: absolute;
  width: 205px;
  height: 22px;
  left: 670px;
  top: 359px;
  
  background: #CC99CC;
}

#bottomEdge6{
  position: absolute;
  width: 456px;
  height: 23px;
  left: 883px;
  top: 358px;
  
  background: #CC99CC;
}