#desktop1
{
  position: relative;
  background: #020202;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#topcorner
{
  position: absolute;
  width: 175px;
  height: 172px;
  background: #CC99CC;
  left: 0px;
  top: 0px;
}

#todayItems
{
  position: absolute;
  width: 217px;
  height: 61px;
  left: 250px;
  top: 43px;

  background: #9999FF;
  border-radius: 33px;
}

#itemsList{
  position: absolute;
  width: 217px;
  height: 61px;
  left: 250px;
  top: 115px;

  background: #9999FF;
  border-radius: 33px;
}

#recurringList
{
  position: absolute;
  width: 217px;
  height: 61px;
  left: 250px;
  top: 186px;

  background: #9999FF;
  border-radius: 33px;
}

#addItem{
  position: absolute;
  width: 224px;
  height: 60px;
  left: 477px;
  top: 118px;

  background: #FF9966;
  border-radius: 33px;
}

#addRecurringItem{
  position: absolute;
  width: 224px;
  height: 60px;
  left: 477px;
  top: 186px;

  background: #FF9966;
  border-radius: 33px;
}

#cornerPiece1{
  
}