button{
  border: 0;
  padding: 0;
  text-align: right;
  display: block;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 14px;
  padding-top: 15px;
  padding-right: 10px;
  border-radius: 33px;
  width: 150px;
}

#desktop1
{
  background: black;
}

#topcorner
{
  position: absolute;
  width: 175px;
  height: 172px;
  background: #CC99CC;
  left: 0px;
  top: 0px;
}

#todayItems-btn
{
  position: absolute;
  left: 250px;
  top: 43px;

  background: #9999FF;

}

#itemsList-btn
{
  position: absolute;
  left: 250px;
  top: 80px;

  background: #9999FF;
}

#recurringList-btn
{
  position: absolute;
  left: 250px;
  top: 117px;
  z-index: 1;

  background: #9999FF;
}

#addItem-btn
{
  position: absolute;
  left: 410px;
  top: 43px;
  z-index: 1;

  background: #FF9966;
}

#addRecurringItem-btn
{
  position: absolute;
  left: 410px;
  top: 80px;
  z-index: 1;

  background: #FF9966;
}

#leftCorner{
  position: absolute;
  width: 615px;
  height: 165px;
  left: 0px;
  top: 181px;
  z-index: 0;

  background: #9999FF;
  border-radius: 0px 0px 0px 100px;
}

#blackout{
  position: absolute;
  left: 175px;
  top: 181px;
  z-index: 0;

  background: #020202;
  border-radius: 0px 0px 0px 50px;  
  height: 145px;
  width: 450px;
  border-radius: 0px 0px 0px 50px;
  
}

#bottomEdge1{
  position: absolute;
  width: 39px;
  height: 21px;
  left: 623px;
  top: 325px;

  background: #FF9900;
}

#bottomEdge2{
  position: absolute;
  width: 205px;
  height: 22px;
  left: 670px;
  top: 325px;
  
  background: #CC99CC;
}

#bottomEdge3{
  position: absolute;
  width: 1100px;
  height: 23px;
  left: 883px;
  top: 325px;
  
  background: #CC99CC;
}

#bottomEdge4{
  position: absolute;
  width: 39px;
  height: 21px;
  left: 623px;
  top: 358px;
  
  background: #FFCC99;
}

#bottomEdge5{
  position: absolute;
  width: 205px;
  height: 22px;
  left: 670px;
  top: 359px;
  
  background: #CC99CC;
}

#bottomEdge6{
  position: absolute;
  width: 1100px;
  height: 23px;
  left: 883px;
  top: 358px;
  
  background: #CC99CC;
}

#leftCornerMirror{
  position: absolute;
  width: 615px;
  height: 165px;
  left: 0px;
  top: 358px;

  background: #CC6666;
  border-radius: 0px 0px 0px 100px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

#blackOutMirror{
  position: absolute;
  width: 615px;
  height: 145px;
  left: 175px;
  top: 381px;

  background: #020202;
  border-radius: 0px 0px 0px 50px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

#bottomFill1{
  position: absolute;
  width: 175px;
  height: 198px;
  left: 0px;
  top: 533px;

  background: #CC6666;
}

#bottomFill2{
  
position: absolute;
width: 175px;
height: 40px;
left: 0px;
top: 741px;

background: #FF9900;
}

#bottomFill3{
  position: absolute;
  width: 175px;
  height: 234px;
  left: 0px;
  top: 790px;

  background: #FF9966;
}