#desktop1
{
  background: black;
}

#topcorner
{
  position: absolute;
  width: 175px;
  height: 172px;
  background: #CC99CC;
  left: 0px;
  top: 0px;
  z-index: 1;

}

#todayItems
{
  position: absolute;
  width: 217px;
  height: 61px;
  left: 250px;
  top: 43px;
  z-index: 1;

  background: #9999FF;
  border-radius: 33px;
}

#itemsList{
  position: absolute;
  width: 217px;
  height: 61px;
  left: 250px;
  top: 115px;
  z-index: 1;

  background: #9999FF;
  border-radius: 33px;
}

#recurringList
{
  position: absolute;
  width: 217px;
  height: 61px;
  left: 250px;
  top: 186px;
  z-index: 1;

  background: #9999FF;
  border-radius: 33px;
}

#addItem{
  position: absolute;
  width: 224px;
  height: 60px;
  left: 477px;
  top: 118px;
  z-index: 1;

  background: #FF9966;
  border-radius: 33px;
}

#addRecurringItem{
  position: absolute;
  width: 224px;
  height: 60px;
  left: 477px;
  top: 186px;
  z-index: 1;

  background: #FF9966;
  border-radius: 33px;
}

#leftCorner{
  position: absolute;
  width: 615px;
  height: 165px;
  left: 0px;
  top: 181px;
  z-index: 0;

  background: #9999FF;
  border-radius: 0px 0px 0px 100px;
}

#blackout{
  
  position: absolute;
  left: 175px;
  top: 181px;
  z-index: 0;

  background: #020202;
  border-radius: 0px 0px 0px 50px;  
  height: 145px;
  width: 450px;
  background: #020202;
  border-radius: 0px 0px 0px 50px;
  
}

#bottomEdge{

}