#container1{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.pictures{
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    opacity: 0.5;
}