#container1{
    display: grid;
    grid-gap:1rem;

    grid-template-areas: "header header header header"
                         "row1 row1 row1 row1"
                         "row2 row2 row2 row2"
                         "footer footer footer footer";
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
                        }

    #logo{
        grid-row: 1;
        grid-column: 1;
    }

    #optionsBar{
        grid-row: 1;
        grid-column: col-3-start / col-4-end;
    }

    .optionsBarItem{
        display: inline;
        color: rgb(9, 46, 43);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 30px;
        float: center;
        list-style-type: none;
        padding: 10px;
    }

    #skyline{
        border: double;
        grid-row: 2;
        grid-column: col-1-start / col-3-start;
    }

    #church{
        border: double;
        grid-row: 2;
        grid-column: col-3-start / col-4-end;
    }

    #recordings{
        border: double;
        grid-row:3;
        grid-column: 1;
    }

    #people{
        border: double;
        grid-row:3;
        grid-column: 2;
    }

    #glass{
        border: double;
        grid-row:3;
        grid-column: 3;
    }

    #study{
        border: double;
        grid-row:3;
        grid-column: 4;
    }

.pictures{
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
    opacity: 0.25;
}