#container1{
    display: grid;
    grid-gap:1rem;

    grid-template-areas: "header header header header"
                         "box1 box2 box3 box4"
                         "box5 box6 box7 box8"
                         "footer footer footer footer";
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
                        }

    #logo{
        grid-row-start: header;
        grid-row-end: header;
    }

    #optionsBar{
        grid-row-start: header;
        grid-row-end: header;
    }

    .optionsBarItem{
        display: inline;
        color: rgb(9, 46, 43);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 30px;
        float: center;
        list-style-type: none;
        padding: 10px;
    }

    #skyline{
        border: double;
        grid-row-start: box1;
        grid-row-end: box2;
        grid-column-start: box1;
        grid-column-end: box2;
    }

    #church{
        border: double;
        grid-row-start: box3;
        grid-row-end: box4;
        grid-column-start: box3;
        grid-column-end: box4;
    }

    #recordings{
        border: double;
        grid-row-start: box5;
        grid-row-end: box5;
    }

    #people{
        border: double;
        grid-row-start: box6;
        grid-row-end: box6;
    }

    #glass{
        border: double;
        grid-row-start: box7;
        grid-row-end: box7;
    }

    #study{
        border: double;
        grid-row-start: box8;
        grid-row-end: box8;
    }

.pictures{
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
    opacity: 0.25;
}