#container1{
    display: grid;
    grid-gap:2rem;

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

#skyline{
    grid-column: 1 / span 2;
}

#church{
    grid-column: 3 / span 4;
}

.pictures{
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    opacity: 0.5;
}