#container1{
    display: grid;

    border:dotted 1px blue;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#container2{
    display: grid;

    border:dotted 1px blue;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

}

#container3{
    display: grid;

    border:dotted 1px blue;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#container4{
    display: grid;
    
    border:dotted 1px blue;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.pictures{
    min-width: 100%;
    max-width: 100%;
    height: 100%;
}