*{
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;

    color: #333;
}

p{
    max-width: 600;
}

#container{
    max-width: 1200px;
    padding: 24px;
    margin: 0 auto;

    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
}

.navigation{
    flex-grow: 1;
    margin-left: 24px;
}

.navigation--item{
    text-decoration:none;
    color: #bdbdbd;
    margin-left: 24px;
}

.navigation--item:hover{
    color: #333;
}

.navigation--item__active{
    color: #333;
}

.navigation--button{
    border: none;
    background: linear-gradient(270deg, #faa245, #d8328a 37.25%, #753872 100%);
    padding: 10px 36px;
    border-radius: 50px;
    color: white;
}

main{
    display: flex;
    align-items: center;
}

.main--content{
    flex: 1;
}

.main--image{
    flex: 1;
}

.headline{
    font-size: 52px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.description{
    color: #828282;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 40px;
}

.playbutton{
    border: 1px solid #e0e0ee;
    padding: 10px 36px;
    background: transparent;
    border-radius: 50px;
    display: flex;
    align-items: center;

    background: -webkit-linear-gradient(
        180deg,
        #faa245 0%,
        #d8328a 37.25%,
        #753872 100%
    );
    
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-play-circle{
    background: inherit;
    font-size: 1.25rem;
    margin-right: 6px;
}

footer{
    display: flex;
    color: #bdbdbd;
}

.socials{
    margin-right: 40px;
}

.social--item{
    margin-right: 12px;
}

.social--item:hover{
    color: #333;
}

@media only screen and (max-width: 660px){
    main{
        display: block;
    }
}
/*20:32*/