.container {
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 2px;
    height: 99vh;
  }
  
.item{
    border:rgb(2, 68, 57);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
  }

.menu{
    align-items: center;
    color: rgb(2, 68, 57);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    padding: 0.5%;
    vertical-align: middle;
  }

  #painting{
    opacity: 50%;
    align-content: left;
  }
