:root{
    --main-color: rgb(6, 7, 87); 
    font-family:'Josefin Sans', sans-serif;
  }

header{
    padding: 10px;
  }

.container {
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 2px;
    height: 99vh;
  }
  
.item{
    border:var(--main-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    color:var(--main-color);
  }

.menu{

    color: var(--main-color);
    font-size: 25px;
    padding: 1%;
  }

#logo{
    color: var(--main-color);
    font-family:'Josefin Sans', sans-serif;
    font-size: 40px;
  }

#blurb{
    font-size: 40px;
}

#picture{
    display: inline;
}

#main{
  align-items: center;
}

#div1{
  display: inline-block;
  margin: auto;
  text-align: center;
  width: 750px;

  position:relative;
  bottom: 60px;
  left: 50px;
}

#div2{
  align-items: center;
  display: inline-block;
  width: auto;

  position:relative;
  top: 50px;
  left: 200px;
}