/*background: linear-gradient(
      35deg,
      #ccffff,
      #ffcccc);*/


:root{
  --main-color: rgb(6, 7, 87) 
}

.container {
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 2px;
    height: 99vh;
  }
  
.item{
    border:var(--main-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    color:var(--main-color)
  }

.menu{
    align-items: center;
    color: var(--main-color);
    font-family:'Josefin Sans', sans-serif;
    font-size: 25px;
    padding: 1%;
    vertical-align: middle;
  }

#painting{
    display: block;
    opacity: 50%;
    margin-left: auto;
    margin-right: 10%;
    width:40%;
  }

#logo{
    color: var(--main-color);
    font-family:'Josefin Sans', sans-serif;
    font-size: 50px;
    padding: 5px 5px 5px 5px;
  }
