.container {
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 2px;
    height: 99vh;
  }
  
.item{
    border:rgb(2, 68, 57);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
  }

  .menu{
    color: rgb(2, 68, 57);
  }

  #logo{
    text-align: start;
  }