*, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    margin: 40px;
    font-family: 'Helvetica', 'sans-serif';
    background-color: rgb(132, 211, 158);
    color: rgb(20, 144, 92);
  }
  
  h1, p {
    margin: 0 0 1em 0;
  }
  
  /* no grid support? */
  .sidebar {
    float: left;
    width: 19.1489%;
  }
  
  .content {
    float: right;
    width: 79.7872%;
  }
  
  /* make a grid */
  .wrapper {
    max-width: 2000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
  }
  
  .wrapper > * {
    background-color: rgb(25, 148, 72);
    color:rgb(132, 211, 158);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    /* needed for the floated layout*/
    margin-bottom: 10px;
  }
  
  .header, .footer {
    grid-column: 1 / -1;
    /* needed for the floated layout */
    clear: both;
  }
  
  
  /* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
  @supports (display: grid) {
    .wrapper > * {
      width: auto;
      margin: 0;
    }

    .actions {
      background-color: #4CAF50; /* Green */
      border: none;
      border-radius: 8px;
      color: rgb(132, 211, 158);
      display: inline-block;
      font-size: 16px;
      /*padding: 15px 32px;*/
      text-align: center;
      text-decoration: none;
      transition-duration: 0.4s;
      width: 25%;
    }

    .actions:hover {
      background-color: #eb8e42; /* Green */
      color: white;
    }
  }