#main{
    background-color: black;
    color: white; 
    display: grid;
    grid-template-columns: [col-1-start] 1fr [col-2-start] 2fr [col-3-start] 2fr [col-4-start]2fr [col-5-start];
    grid-template-rows: [row-1-start] 1fr [row-2-start] 5fr [row-3-start] 1fr [row-4-start];
    height: 900px;
}

#todayList{
    border-style: dotted;
    border-color: red;
}

#todoList{
    border-style: dotted;
    border-color: rgb(17, 0, 255);
}

#daysSinceList{
    border-style: dotted;
    border-color: rgb(0, 255, 34);
}
#options{
    border-style: dotted;
    border-color: rgb(0, 195, 255);
}

#header{
    grid-column-start: col-1-start;
    grid-column-end: col-5-start;
}

#footer{
    border-style: dotted;
    border-color: rgb(255, 217, 0);
    grid-column-start: col-1-start;
    grid-column-end: col-5-start;
}

#titlePic{
    display: block;
    margin: 0 auto;
}